<h1>Sports Team Management Leagues</h1>

<table border="1">
  <tr>
    <th align="center">Name</th>
    <th align="center">Sport</th>
    <th align="center">Owner</th>
  </tr>

<% @leagues = League.all
	@leagues.each do |league| %>
	
  <tr>
  	
  	<td align="center"><%= link_to league.name, league %></td>
  	<td align="center"><%= link_to league.sport.name, league.sport %></td>
    <td align="center"><%= link_to league.owner.name, league.owner %></td>

    <!--<td><%= link_to 'Show', league %></td>-->
    <td><%= link_to (image_tag 'edit.png', :height => '25'), edit_league_path(league) %></td>
    <td><%= link_to (image_tag 'delete.png', :height => '25'), league, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League', new_league_path %>
